<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias alias="UserGender" type="com.crasleepish.springbootbackend.bean.User$Gender"/>
        <typeAlias alias="UserType" type="com.crasleepish.springbootbackend.bean.User$Type"/>
        <package name="com.crasleepish.springbootbackend.bean"/>
    </typeAliases>
</configuration>